body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:98vh;
}
.container{
    display: flex;
    
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 40px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}